@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


* {
    /* font-weight: 600; */
     font-family: 'Jua', sans-serif;
} 

.Hahmlet {
    font-family: 'Hahmlet', serif;
}

.Gaegu {
    font-family: 'Gaegu', cursive;
}

.Jua {
    font-family: 'Jua', sans-serif;
}

.Black_Han_Sans {
    font-family: 'Black Han Sans', sans-serif;
}

.East_Sea_Dokdo {
    font-family: 'East Sea Dokdo', cursive;
}

.Gowun_Dodum {
    font-family: 'Gowun Dodum', sans-serif;
}

.Nanum_Pen_Script {
    font-family: 'Nanum Pen Script', sans-serif;
}
